*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

// media queries
@mixin for-size($size){

  @if $size == tablet{
      @media (min-width:720px){
          @content;
      }
  }
      @else if $size == med-screen{
          @media (min-width:1020px){
              @content;
          }
      }
          @else if $size == desktop{
              @media (min-width:1440px){
                  @content;
              }
  }
  }

body{
  background:darkseagreen !important;
  overflow-x:hidden !important;
  scroll-behavior: smooth;
}


.tab{
  overflow:auto;
  padding:30px;
  scrollbar-width:none;
  img{
    width:250px;
    height:300px;
  }
}
a{
  color:black !important;
  text-decoration: none !important;
}
.logo{
  a{
    color:darkgreen !important;
  }
}
.cart-flex{
  display:flex;
  justify-content: space-between;
  width:100%;
  text-align: center;
  align-items: center;
  img{
    width:200px;
    height:200px;
  }
  button{
    border:none;
    background:darkcyan;
    padding:0 10px;
  }
}
.product-details-details{
  width:100% !important;
}
.imgSelection{
display:flex;
  align-items:center;
  justify-content:center;
}
.tabImg{
  width:100px;
  height:100px;
}
.contentImg{
  display:none;
  width:150px;
  height:100%;
}
.imgScroll{
  overflow-x:scroll;
  scroll-behavior: smooth;
  display:flex;
  width:250px;
  align-items: center;
}


  form{
    input{
      border:none;
      padding:5px 10px;
    }
    .d-show{
      display:block;
    }
    .d-hide{
      display:none;
    }
    
  }
  .d-hide{
    opacity:0;
    pointer-events: none;
  }

  .customer-details{
    flex-direction:column !important;
  }
  
  @include for-size(tablet){
    .Product-details{
      display:flex;
      justify-content:space-between;
      align-items: center;
    }

  

  }
 .colors-btn{
  border:none;
 }

  @include for-size(med-screen){
  
    
        .d-hide{
          opacity:1;
          pointer-events:auto;
          width:300px;
          padding:0 10px;
        }
        .phone-product{
          gap:10px;
          > div{
            margin:auto 10px;
          }
        }
    
.product-details-details{
  width:50% !important;
  padding:0 10px;
}
.tabImg{
  width:250px;
  height:200px;
}
.imgScroll{
  width:500px;
}
.contentImg{
  width:350px;
  height:350px;
}
.imgSelection{
  width:100%;
}

    }
