
// media queries
@mixin for-size($size){

    @if $size == tablet{
        @media (min-width:720px){
            @content;
        }
    }
        @else if $size == med-screen{
            @media (min-width:1020px){
                @content;
            }
        }
            @else if $size == desktop{
                @media (min-width:1440px){
                    @content;
                }
    }
    }

  // navbar
  nav{
  
    button{
      border:none;  
      padding:10px;
      background:transparent;
      font-size: 20px;
    }  
    ul{
        list-style-type: none;
      }  
    
}      
.mobile-cart{
  display: flex;  
}  
.desktop-cart,.desktop-icon{
  display:none;  
}  
.imggrid{
  margin:10px auto;  
  padding:10px;
  img{
    width:300px;  
    height:250px;
  }  
}  


@media screen and (max-width:1020px){
    .navlist{
      opacity:0;
      pointer-events: none;
        position:absolute;
        z-index:100;
        top:60px;
        height:0%;
        width:0%;
        right:0;
        text-align: center;
        background:darkcyan;
        left:0;
        transition: 1s all;
        ul{
          list-style-type: none;
          font-size: 30px;
          font-weight: bold;
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height:50vh;
    
          a{
            color:black;
            text-decoration: underline !important;
            &:hover{
              color:white !important;
            }
            &:focus{
              color:tomato !important;
            }
          }
        }
      }
      .navlist.show{
        pointer-events: auto;
        opacity:1;
        height:100%;
        width:100%;
        text-align: center;
        opacity:1;
        pointer-events: auto;
      }
  
    }

    @include for-size(med-screen){
  
        nav{
              display:flex;
              justify-content: space-between;    
              align-items: center;
              padding:0 10px;
              }
              .menu-bar{
                  display:none;
                }
                .navlist{
                  display:block;
               ul{
                 display:flex;
                 a{
                   color:white !important;
                   &:hover{
                     color:grey !important;
                   }
                   &:focus{
                      color:tomato !important;
                   }
                 }
                 li{
                   margin: 10px 0  0 10px;
                   border:2px solid black;
                   background:darkcyan;
                   color:white;
                   padding:5px 10px;
                 }
               }
              }
              .mobile-cart{
                display:none;
              }
              .desktop-cart,.desktop-icon{
                display:flex;
              }
            }      
  